:root {
    --bgBody:#ffff;
    --primaryColor: #5fb759;
    --fontSize16:16px;
    --pColor:#777;
    --Size25:25px;
    --Size15:15px;
    --pSiize14:14px;
    --Size13:13px;
    --Size12: 12px;
    --floatLeft:left;
    --floatright:right;
}
