<div class="wrap">
	<img src="https://picsum.photos/300/500?random=1">
	<div class="txt">
		<h2>The Schoole</h2>
<p> is the largest platform for schools in Egypt. It helps to manage the school in all their daily work easily using our smart app.                      <br>
		<br>It provides the school with a web-based application, a student and teacher application for Android and Camels. We also provide parents with over 30,000 schools to compare.
		 Our system is always updated and customized for any school needs.talk to us if you have anything.</p>
		 <p> is the largest platform for schools in Egypt. It helps to manage the school in all their daily work easily using our smart app.                      <br>
			<br>It provides the school with a web-based application, a student and teacher application for Android and Camels. We also provide parents with over 30,000 schools to compare.
			 Our system is always updated and customized for any school needs.talk to us if you have anything.</p>
	</div>	
</div>